.body {
  background-color: transparent;
}

.main {
  display: flex;
  min-width: 10rem;

  background-color: cyan;
  border-radius: 0.25rem;
}

.tabList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 0.25rem;
}

.tab {
}
